BUNGIE_API_KEY="YOUR BUNGIE API KEY"
BUNGIE_CLIENT_ID="YOUR BUNGIE CLIENT ID"
BUNGIE_CLIENT_SECRET="YOUR BUNGIE CLIENT SECRET"
BUNGIE_REDIRECT_URI="YOUR_REDIRECT_URI (usually https://127.0.0.1:7777/callback)"